@font-face{
    font-family: "lexend";
    src: url(fonts/lexend/Lexend-VariableFont_wght.ttf);
}
body,.addbtn,.descoverbtn,.view,input,.text-product,.go{
    font-family: "lexend";
} 
.wrapp{
    width: 1110px;
    margin: 0 auto;
}
header{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;    

}
.search input{
    border: 1px solid #EFEFEF;
    border-radius: 71px;
    background: url(img/search.png) no-repeat center left 20px;
    padding-left: 55px;
    width:220px; 
    height:40px;
    font-size: 14px;
}
header .nav a{
    text-decoration: none;
    color: #70737C;
    font-size: 14px;
}
.nav{
    margin-left: 48px;
}
.line{
    border-right: 1px solid #EFEFEF;
    float: left;
}
.line a{
    margin-right: 16px;
    margin-left: 16px;
}
.mrgn{
    margin-left: 16px;
    margin-right: 47.63px;
}
.facebook-icon{
    margin-left: 12.63px;
    margin-right: 15px;
}
.header-heart{
    margin-left: 15px;
}
.header-basket{
    margin-left: 21px;
}
.cart{
    background:url(img/seedra.png) no-repeat right #EAF1EB;
    border-radius: 24px;
    width: 1110px;
    height: 455px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.cart-text{
    padding-top:20px ;
    width: 650px;
    height: 108px;
    margin-left: 76px;
}
.cart-text h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.05em;
    color: #1F2533;
}
.cart-text .secondtext{
    font-size: 16px;
    line-height: 28px;
    color: #1F2533;
    width: 577px;
    height: 84px;
    margin-top: -23px;
    font-weight: 300;
}
.price{
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.price1{
    width: 132px;
    height: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 54px;
    color: #1F2533;
    margin-left: 16px;
    margin-right: 21px;
}
.price2{
    width: 70px;
    height: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 54px;
    color: #70737C;
}
.line1{
    position: absolute;
    width: 70px;
    height: 0px;
    border: 1px solid #70737C;
    margin-left: 213px;
}
.btns{
    display: flex;
    margin-top: 25px;
}
.addbtn{
    width: 153px;
    height: 51px;
    background: #359740;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.descoverbtn{
    width: 131px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 12px;
    color: #359740;
    letter-spacing: -0.035em;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.sell{
    width: 1110px;
    height: 104px;
    margin:16px auto 58px auto;
    background: url("img/sell-icon (2).png") rgba(255, 230, 46, 0.09);
    border-radius: 12px;
    text-align: center;
}
.text1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
}
.text2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.035em;
    color: #70737C;
    padding-top: 5px;
}
.texts{
    padding: 23px;
}
.product-info{
   display: flex;
}
.our-product{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.05em;
}
.view{
    width: 155px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 731px;
    font-size: 16px;
    letter-spacing: -0.035em;
    color: #359740;
    cursor: pointer;
}
.products{
    display: flex;
    margin-top: 38px;
}
.product{
    width: 110px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product1{
    width: 144px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product2{
    width: 128px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 13px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product3{
    width: 187px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product4{
    width: 148px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product5{
    width: 157px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product6{
    width: 163px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product-img1 ,.product-img2 ,.product-img3 ,.product-img4 ,.product-img5 ,.product-img6 ,.product-img7{
    margin-left: 10px;
}
.text-product{
    margin-top: 4px;
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card1 ,.card2 ,.card3 ,.card4 ,.card5 ,.card6{
    width: 350px;
    height: 512px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin-top: 33px;
    margin-left: 1px;
}
.card2,.card3,.card5,.card6{
    margin-left: 22px;
}
.like-btn1{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}
.like-png{
    margin-top: 2px;
}
.img-card1, .img-card2,.img-card3{
    margin-left: 30px;
    margin-top: -25px;
}
.stars{
    display: flex;
    margin-top: 25px;
    margin-left: 35px;
    width: 16px;
    height: 16px;
}
.stars p{
    width: 33px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
    margin-top: -3px;
    margin-left: 13px;
}
.text-card{
    margin-left: 32px;
    margin-top: 10px;
    height: 100px;
}
.main-text-card1{
    width: 291px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #1F2533;
}
.price-card {
    width: 88px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 54px;
    color: #1F2533;
    margin-left: -9px;
    margin-top: -20px;
    display: flex;
}
.korzinaa{
    height: 40px;
    padding: 10px;
    padding-bottom: 35px;
    border: 1px solid #EFEFEF;
    background: white;
    border-radius: 8px;
    margin-left: 164px;
    margin-top: 30px;
    cursor: pointer;
}
.fire-card{
    margin-right:10px;
    margin-top: 43px;
    width: 24px;
    height: 24px;
}
.korzina{
    height: 40px;
    padding: 10px;
    padding-bottom: 35px;
    border: 1px solid #EFEFEF;
    background: white;
    border-radius: 8px;
    margin-left: 75px;
    margin-top: 30px;
    cursor: pointer;
}
.price2-card{
    margin-left: 10px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 178.19%;
    letter-spacing: -0.035em;
    color: #70737C;
}
.line12{
    position: absolute;
    width: 53px;
    height: 0px;
    margin-top: 53px;
    border: 1px solid #70737C;
    margin-left: 125px;
}
.our-blog{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.05em;
}
.go{
    width: 173px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    margin-left: 785px;
    font-size: 16px;
    letter-spacing: -0.035em;
    color: #359740;
    cursor: pointer;
}
.product-info1{
    display: flex;
    margin-top: 80px;
}
.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    margin-top: 37px;
}
.column1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background: #EAF1EB;
    border-radius: 12px;
    width: 730px;
    height: 300px;

}
.column2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 7;
    background: #EFF2F8;
    border-radius: 12px;
    margin-top: -70px;
    width: 350px;
    height: 300px;
}
.column3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    background: #EFF2F8;
    border-radius: 12px;
    margin-top: -70px;
    margin-left: 10px;
    width: 350px;
    height: 300px;
}
.column4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background: #EFF2F8;
    border-radius: 12px;
    margin-top: -100px;
    margin-left: 10px;
    width: 350px;
    height: 630px;
}
.date{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.date p{
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
}
.clock{
    width: 24px;
    height: 24px;
    margin-top:14px;
}
.text-columns1{
    margin-left: 30px;
    margin-top: -25px;
}
.text-columns1 h2{
    width: 362px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1F2533;
}
.text-columns1 p{
    margin-top: -17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
    width: 401px;
}
.salat-column{
    float: right;
    margin-top: -220px;
}
.btn-columns1{
    width: 106px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 178.19%;
    letter-spacing: -0.035em;
    color: #359740; 
}
.text-columns2 ,.text-columns3{
    margin-top: -27px;
    margin-left: 30px;
}
.text-columns2 h2{
    width: 286px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1F2533;
}
.btn-columns2{
    margin-top: -5px;
    width: 106px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 178.19%;
    letter-spacing: -0.035em;
    color: #359740; 
}
.ellips-colm{
    float: right;
    margin-top: -28px;
}
.text-columns3 h2{
    width: 306px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1F2533;
}
.text-columns3 p{
    margin-top: -17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
    width: 306px;
}
.girl{
    margin-top: -33px;
    margin-left: 35px;
}
.reviews p{
    margin: 120px auto;
    width: 334px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.05em;
}
.all-reviews{
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.review1{
    min-width: 540px;
    overflow: hidden;
    height: 347px;
    background: #FFFFFF;
    opacity: 0.5;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
    border-radius: 12px;
}
.review2{
    margin-top: -35px;
    margin-left: 30px;
    min-width: 540px;
    height: 347px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
    border-radius: 12px;
}
.review3{
    margin-left: 30px;
    min-width: 540px;
    height: 347px;
    background: #FFFFFF;
    opacity: 0.5;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
    border-radius: 12px;
}
.info-review{
    display: flex;
}
.girl-review{
    margin-top: 33px;
    margin-left: 34px;
}
.name{
    margin-top: 38px;
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;  
    letter-spacing: -0.04em;
    color: #1F2533;
}
.date-review{
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
}
.stars-review{
    display: flex;
    margin-top: 25px;
    margin-left: 35px;
    width: 24px;
    height: 24px;
}
.all-reviews .text-review{
    margin-left: 36px;
    margin-top: 17px;
    width: 417px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #1F2533;
}
.sliders{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.slider1 ,.slider2,.slider3{
    background: #359740;
    border-radius: 30px;
    width: 35px;
    height: 6px;
}
.slider2,.slider3{
    opacity: 0.2;
    margin-left: 5px;
}
.feg{
    display: flex;
    margin-top: 85px;
}
.text-blog h2{
    width: 500px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.05em;
    color: #1F2533;
}
.second-text-feg p{
    margin-top: -95px;
}
.second-text-feg {
    width: 521px;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 28px;
    color: #1F2533;
}
.Ellipse-feg{
    border-bottom-left-radius:110px ;
    margin-top: -10px;
    margin-left: 65px;
}
footer{
    display: grid;
    align-items: center;
    margin-top: 97px;
    min-height: 172px;
    background: #FFFFFF;
    box-shadow: 0px -7px 80px rgba(189, 189, 189, 0.25);
}
.line11{
    border-right: 1px solid #EFEFEF;
    float: left;
    margin-left: 32px;
}
.footer-logo{
    margin-left: 75px;
    margin-right: 70px;
}
.line112{
    margin-left: 32px;
}
.nav-footer{
    display: flex;
    justify-content: center;
}
.nav-footer .mrg{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
}
.mrg ,.mrg1{
    margin-right: 32px;
}
.mrg1{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #359740;
}
.line-footer{
    margin: 0px auto;
    margin-top: -20px;
    width: 1107px;
    height: 0px;
    opacity: 0.3;
    border: 1px solid #359740;
}
.social-footer{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
}
.inst-footer{
    margin-left: -230px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.facebook-footer{
    margin-left: -180px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.text-footer{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 178.19%;
    color: #70737C;
    margin-left: 100px;
}






